* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
body {
  background-color: #ebeef5;
  /* background-color: #0C162F; */
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAlign {
  display: flex;
  align-items: center;
}
.acmeFont {
  font-family: AcmeFont, sans-serif !important;
}
.MuiTabs-indicator {
  height: 4px !important;
}
.MuiTab-wrapper {
  text-transform: none;
  font-weight: 700;
  height: 80px;
  font-size: 16px;
}
.MuiInput-underline:before{
  border-color: #24E3AD !important;
}
.a{
  text-decoration: none;
}
/* .slick-arrow {
  transform: scale(3) !important;
  z-index: 1;
}
.slick-slide {
  opacity: 0.5;
  transform: scale(0.9);
}

.slick-current {
  opacity: 1;
  transform: scale(1);
} */
@font-face {
  font-family: AcmeFont;
  src: url("./Assets/Fonts/acmefontregular.ttf");
}

.Activity_loading {
  animation: loading 500ms linear infinite alternate;
}
@keyframes loading {
  0% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(0.8);
  }
}
